.logo-wrapper {
  place-self: center;
  .logo {
    border: 1px solid $black;
    height: 100px;
  }
}

.error-block {
  background: $light-gray;
  position: absolute;
  width: 100%;
  top: 0;

  .notice {
    padding: 1em 0;
  }
}

#main-nav {
  place-self: center end;
  padding-right: 1rem;

  .nav-links {
    display: inline-block;
    padding: 1rem;
  }
}

.wrapper {
  .restaurant-wrapper {
    background: #eee;
    padding: 1rem;
    margin: 1rem auto;
  }
}

.restaurant-info {
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  color: $black;
}