/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #000;
}

body {
  margin: 100px auto 0 auto;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-size: 2.8em;
  padding: 0;
  margin: 0;
  color: #eee;
}

main {
  padding: 100px 0;
}

footer {
  margin: 20px auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.4em;
}

.restaurant-wrapper a {
  font-weight: 700;
  font-size: 1.4em;
}

h4 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6em;
}