// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul li {
  list-style-type: none;
  line-height: 40px;
}

ul {
  padding: 0;
  color: #eee;
  font-size: 1.2em;
}

.reservation-form {
  line-height: 20px;
  margin: 100px auto 0;
}

form {
  margin: 50px auto 0;
}

.field {
  color: #eee;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 20px auto;
}

.reservation-form h4 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.8em;
}

body {
  background-image: image-url('index_bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  color: #eee;
}

.restaurant-header {
  margin: 50px 0 0;
}